*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

.logo{
    transform: translate(-6px, 23px);
    height: 42px;
    width: 60px;
}

.header{
    transform: translate(10px, 10px);
}

.nav{
    float: left;
    width: 15%;
    height: 100vh;
    background-color: #3A2D57;
    border-right: 2px solid grey;
    font-size: 20px;
}

.nav ul{
    padding: 339px 93px;
    list-style-type: none;    
}

.nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.nav ul li a:hover{
    color: #9C71FC;
}

.navItem{
    padding: 15px 0px;
}

.colRight{
    padding-left: 357px;
    height: 100vh;
}

.reqContainer{
    width: 64vw;
    /* background-color: #3A2D57; */
    height: 94vh;
    box-shadow: 1px 4px 17px black;
}

/* .reqLists{
    padding: 50px;
} */

.reqCard{
    display: flex;
    padding: 30px;
    background-color: #8b72c0;
    height: 30vh;
    border-bottom: 52px solid #F3F3F8;
    color: white;
    padding: 10px;
}


.reqImg{
    border: 2px solid #3A2D57;
    box-shadow: 1px 4px 17px black;
    height: 170px;
    width: 229px;
}

.reqDetails{
    display: inline-block;
    padding: 10px;
}

.btnApprove {
    background-color: #3A2D57;
    color: green;
    width: 138px;
    height: 57px;
    border: 2px solid black;
}

.btnApprove:hover{
    color: white;
    background-color: green;
    transition-delay: 50ms;
    cursor: pointer;
}

.btn{
    transform: translate(582px, 74px);
}

.btnDeny{
    background-color: #3A2D57;
    color: red;
    width: 138px;
    height: 57px;
    border: 2px solid black;
}

.btnDeny:hover{
    color: white;
    background-color: red;
    transition-delay: 50ms;
    cursor: pointer;
}