.products {
    margin : 50px 120px;
}
.search {
    display: flex;
    justify-content: flex-start;
}
.title {
    padding: 25px 10px;
}
.zip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.card-container {
    flex-wrap: wrap;
}