.navbar {
    padding: 25px 150px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon-img {
    height: 50px;
    width: 100px; 
}
 .category {
    text-decoration: none;
    color: #524FBF;
    font-weight: 700;
 }